src/main/resources/wsdl/CheckRecipientService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CheckRecipientService" targetNamespace="http://check_recipient_in_system.ws.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://check_recipient_in_system.ws.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns="http://check_recipient_in_system.ws.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://check_recipient_in_system.ws.com/">
  <xs:complexType name="checkRecipientServiceRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="accountNumber" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="checkRecipientServiceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="accountNumber" type="xs:string"/>
      <xs:element minOccurs="0" name="bankName" type="xs:string"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
      <xs:element minOccurs="0" name="status" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="checkRecipient" type="checkRecipient"/>
  <xs:complexType name="checkRecipient">
    <xs:sequence>
      <xs:element minOccurs="0" name="request" type="checkRecipientServiceRequest"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="checkRecipientResponse" type="checkRecipientResponse"/>
  <xs:complexType name="checkRecipientResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="checkRecipientServiceResponse"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="checkRecipient">
    <wsdl:part name="parameters" element="tns:checkRecipient">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="checkRecipientResponse">
    <wsdl:part name="parameters" element="tns:checkRecipientResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CheckRecipientServicePortType">
    <wsdl:operation name="checkRecipient">
      <wsdl:input name="checkRecipient" message="tns:checkRecipient">
    </wsdl:input>
      <wsdl:output name="checkRecipientResponse" message="tns:checkRecipientResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CheckRecipientServiceSoapBinding" type="tns:CheckRecipientServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="checkRecipient">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="checkRecipient">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="checkRecipientResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CheckRecipientService">
    <wsdl:port name="CheckRecipientServicePort" binding="tns:CheckRecipientServiceSoapBinding">
      <soap:address location="http://localhost:9090/ws/CheckRecipientService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
