src/main/resources/wsdl/CheckPossibilityService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CheckPossibilityService" targetNamespace="http://check_possibility_service.ws.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://check_possibility_service.ws.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns="http://check_possibility_service.ws.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://check_possibility_service.ws.com/">
  <xs:complexType name="checkPossibilityServiceRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="accountNumber" type="xs:string"/>
      <xs:element minOccurs="0" name="currencyType" type="xs:string"/>
      <xs:element name="transferAmount" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="checkPossibilityServiceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="accountNumber" type="xs:string"/>
      <xs:element minOccurs="0" name="messageInfo" type="xs:string"/>
      <xs:element minOccurs="0" name="status" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="checkPossibility" type="checkPossibility"/>
  <xs:complexType name="checkPossibility">
    <xs:sequence>
      <xs:element minOccurs="0" name="request" type="checkPossibilityServiceRequest"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="checkPossibilityResponse" type="checkPossibilityResponse"/>
  <xs:complexType name="checkPossibilityResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="checkPossibilityServiceResponse"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="checkPossibility">
    <wsdl:part name="parameters" element="tns:checkPossibility">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="checkPossibilityResponse">
    <wsdl:part name="parameters" element="tns:checkPossibilityResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CheckPossibilityServicePortType">
    <wsdl:operation name="checkPossibility">
      <wsdl:input name="checkPossibility" message="tns:checkPossibility">
    </wsdl:input>
      <wsdl:output name="checkPossibilityResponse" message="tns:checkPossibilityResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CheckPossibilityServiceSoapBinding" type="tns:CheckPossibilityServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="checkPossibility">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="checkPossibility">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="checkPossibilityResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CheckPossibilityService">
    <wsdl:port name="CheckPossibilityServicePort" binding="tns:CheckPossibilityServiceSoapBinding">
      <soap:address location="http://localhost:9090/ws/CheckPossibilityService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
